.conn{
    background-color:orange;
    height:300px;
    text-align: center;
}
#corr{
    padding-top: 0px;
}
.goo{
    text-align: center;
    padding-top: 200px;
}
#size{
    padding-top: 50px;
    font-size: 100px;
}
#col{
    background-color: orange;
    color: black;
}